*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color : #ddf247  ;
    --sec-bg1 :#0d121a ;
    --sec-bg2 : #090d12 ;
    --card: #19232c ;
    --body-font : "Poppins", sans-serif ;
    --heading-font: "Barlow", sans-serif ;
    --jesry-font : "Jersey 25", sans-serif;;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--body-font);
    color: #fff;
    background-color: var(--sec-bg2);
    overflow-x:hidden;
}



/* start header */
header{
    padding: 0 100px;
    background-color: var(--sec-bg1);
    position: relative;
}
header .bg-hr{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
header .bg-hr:nth-of-type(2){
    left: 100%;
    animation: hr 10s linear infinite ;
}
@keyframes hr {
    100%{
        left: -100%;
    }
}
/* end header */




/* start nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 2px solid #333;
}
nav .logo{
    width: 125px;
}
nav .right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
nav .right-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
nav .right-nav ul li{
    position: relative;
    list-style: none;
    padding: 20px 0;
}
nav .right-nav ul li a{
    
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: 500;
    transition: 0.3s;
    font-family: var(--heading-font);
}
nav .right-nav ul li a span{
    display: none;
}
nav .right-nav ul li  a::after{
    content: '';
    position: absolute;

    width: 30px;
    height: 30px;
    background: url(../images/active.png) no-repeat center ;
    background-size: contain;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50% , -50% );
    transition: 0.3s;
}
nav .right-nav ul li a:hover , 
nav .right-nav ul li a.active {
    color: var(--main-color);
}
nav .right-nav ul li a:hover::after , 
nav .right-nav ul li a.active:after{
    opacity: 0.7;
}

nav .right-nav .icons{
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}
nav .right-nav .icons i {
    font-size: 16px;
}
nav .right-nav .connect{
    display: flex;
    align-items: center;
    gap: 15px;
}
nav .right-nav .connect > i{

    font-size:30px;
    cursor: pointer;
}
.btn-bg{
    width: 140px;
    height: 45px;
    background: url(../images/btn-bg.png) center no-repeat;
    background-size: 100% 100%  ;
    /* background: linear-gradient( 190deg ,#ddf247 , teal ); */
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: #000;
    font-weight:600;
    cursor: pointer;
    transition: 0.5s;
}
.btn-bg:hover{
    letter-spacing: 1.2px;
    background: url(../images/btn-bg-hover.png) center no-repeat;
    background-size: 100% 100%;
}
    .btn-bg img{
    width: 15px;
}
nav .right-nav .icons::after{
    position: absolute;
    content: '';

    height: 150%;
    width: 1px;
    background-color: #fff;

    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    
}
nav .right-nav .icons::before{
    position: absolute;
    content: '';

    height: 120%;
    width: 1px;
    background-color: #fff;

    right: -28px;
    top: 50%;
    transform: translateY(-50%);
    
}

.dropdownMenu-1{
    position: absolute;
    
    left: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    border-radius: 5px;
    transition: 0.5s;
    
    top: 150% ;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
nav .right-nav ul li:nth-of-type(1) .dropdownMenu-1 a{
    font-size: 12px;
    padding: 10px 15px;
    transition: 0.5s;
}
nav .right-nav ul li:nth-of-type(1) .dropdownMenu-1 a::after{
    background: none;
}
nav .right-nav ul li:nth-of-type(1) .dropdownMenu-1 a:not(:last-child){
    border-bottom: 1px solid #555;
}
nav .right-nav ul li:nth-of-type(1) .dropdownMenu-1 a:hover{
    text-indent: 15px;
}
nav .right-nav ul li:nth-of-type(1):hover .dropdownMenu-1{
    top: 100% ;
    opacity: 1;
    height: auto;
    overflow: visible;
}
nav .right-nav .connect i article{
    padding:    70px 25px;
    position: fixed;
    width: 300px;
    height: 100vh;
    right: -300px;
    top: 0;
    background-color: var(--sec-bg1);
    border-left: 2px solid #444;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: var(--heading-font);
    z-index: 10;
    gap: 25px;
    transition: 0.5s;
}

nav .right-nav .connect i article::after{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.3);
    left: 0;
    z-index: -1;
    top: 0;
    display: none;
}
nav .right-nav .connect i:hover article{
    right: 0;
}
nav .right-nav .connect i:hover article::after{
    display: block;
}
nav .right-nav .connect i article:active::after{
    display: none;
}
nav .right-nav .connect i article img{
    width: 130px;
}
nav .right-nav .connect i article p:nth-of-type(1){
    line-height: 1.4;
    opacity: 0.7;
    font-size: 15px;
    word-spacing: 1.5px;
}
nav .right-nav .connect i article p:nth-of-type(2){
    line-height: 1.4;
    opacity: 0.7;
    font-family: var(--heading-font);
    font-size: 15px;
    word-spacing: 1.5px;
}
nav .right-nav .connect i article b{
    font-size: 20px;
}
nav .right-nav .connect i article > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    gap: 10px;
}
nav .right-nav .connect i article > div:nth-of-type(1) p{
    opacity: 0.7;
    display: flex;
    gap: 8px;
}
nav .right-nav .connect i article > div:nth-of-type(2) {
    margin-top: 25px;
    display: flex;
    gap: 5px;

}
nav .right-nav .connect i article > div:nth-of-type(2) > div {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    color: var(--main-color);
    transition: 0.5s;
    font-size: 11px;
}
nav .right-nav .connect i article > div:nth-of-type(2) > div:hover{
    background-color: var(--main-color);
    color: #000;
}

nav .bi-list{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
@media ( max-width : 1200px ) {
    nav .right-nav .connect{
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
}
@media ( max-width : 990px ) {
    header{
        padding: 0 50px;
    }
    nav .bi-list{
        display: block;
    }
    nav {
        position: relative;
    }
    nav .right-nav{
        position: absolute;
        width: 100%;
        top: 100% ;
        left: 0;
        z-index: 20;

        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        top: 150%;
    }
    nav:hover .right-nav{
        top: 100%;
        opacity: 1;
        height: auto;
        overflow: visible;
    }
    nav .right-nav .icons{
        display: none;
    }
    nav .right-nav .connect {
        display: none;
    }
    nav .right-nav ul{
        padding: 0 20px 20px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0px;
        background-color: var(--sec-bg1);
    
    }
    nav .right-nav ul li{
        width: 100%;
        padding: 15px 10px;
    }
    nav .right-nav ul li:not(:last-of-type){
        border-bottom: 1px solid #555;
    }
    nav .right-nav ul li a{
        display: flex;
        justify-content: space-between;
    }
    nav .right-nav ul li a span{
        display: block;
        color: var(--main-color);
    }
    nav .right-nav ul li a span .fa-minus{
        display: none;
    }
    nav .right-nav ul li:hover a span .fa-minus{
        display: block;
    }
    nav .right-nav ul li:hover a span .fa-plus{
        display: none;
    }
    nav .right-nav ul li  a::after{
        left: 5px;
        transform: translate(0 , -50%);
    }
    .dropdownMenu-1{
        position: static;
        width: 95%;
        margin: auto;
        background-color: transparent;
    }
    nav .right-nav ul li:nth-of-type(1):hover .dropdownMenu-1{
        margin: 10px;
        top: 100% ;
        opacity: 1;
        height: auto;
        overflow: visible;
    }
}
@media ( max-width : 768px ) {
    header{
        padding: 0 30px;
    }
}
@media ( max-width : 540px ) {
    header{
        padding: 0 10px;
    }
}
@media ( max-width : 400px ) {
    header{
        padding: 0 5px;
    }
}

/* end nav */




/* start heading */
.heading{
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;

}
.heading .left-heading{
    width: calc((100% - 10px ) / 2);
    display: flex;
    flex-direction: column;
    gap: 30px;    
}
.heading .left-heading h1{
    font-size: 60px;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: var(--heading-font);
}
.heading .left-heading h1 span{
    color: var(--main-color);
    font-weight: bold;
}
.heading .left-heading h1 b{
    font-size: 75px;
}
.heading .left-heading strong{
    position: relative;
    text-transform: uppercase;
    font-size: 25px;
    width: max-content;
    font-family: var(--heading-font);
    
}
.heading .left-heading strong::after{
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: var(--sec-bg1);
    left: 0;
    right: 0;
    animation: strong 5s  steps(40) infinite  ;
}
@keyframes strong {
    70% , 90%{
        left: 100%;
    }
    0% , 100%{
        left: 0;
    }
}

.heading .right-heading{
    width: calc((100% - 10px) / 2);
    padding: 60px;
    position: relative;
    animation: heading 1s linear infinite alternate ;
}
.heading .right-heading img:nth-of-type(1){
    width: 100%;
    animation: stars 1s linear infinite alternate ;
}
.heading .right-heading img:nth-of-type(2){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30% ,  -50%);
    width: 80%;
}
@keyframes heading {
    100%{
        transform: translateY(-25px);
    }
}
@keyframes stars {
    100%{
        opacity: 0.3;
    }
}

@media ( max-width : 1200px ) {
    .heading .left-heading h1{
        font-size: 50px;
    }
    .heading .left-heading h1 b{
        font-size: 65px;
    }
}
@media ( max-width : 990px ) {
    .heading{
        padding: 50px 0;
        flex-direction: column;
    }
    .heading .left-heading{
        width: 100%;
    }
    .heading .right-heading{
        width: 100%;
    }
    .heading .right-heading img:nth-of-type(2){
        transform: translate(-50% ,  -50%);
        z-index: -1;
    }
}
@media ( max-width : 540px ) {
    .heading .left-heading h1{
        font-size: 35px;
    }
    .heading .left-heading h1 b{
        font-size: 45px;
    }
}
/* end heading */


/* start sec-featured-item */
section{
    padding: 100px ;
    display: flex;
    flex-direction: column;
    gap: 40px;
}



/* start sec-title */ 
section .sec-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
section .sec-title b{
    font-size: 50px;
    font-family: var(--heading-font);
    text-transform: uppercase;
    opacity: 0.9;
} 
section .sec-title > b > span{
    color: var(--main-color);
}
section .sec-title div{
    font-size: 15px;
    display: flex;
    gap: 8px;
    align-items: center;
    opacity: 0.7;
    font-weight: 300;
}
section .sec-title.with-arrow div{
    opacity: 1;
}
 
section .sec-title.with-arrow div{
    display: flex;
    align-items: center;
    gap: 10px;
} 
section .sec-title.with-arrow div i {
    width: 45px;
    height: 45px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    border: 2px dotted var(--main-color);
    border-radius: 50%;
    font-size: 12px;
    transition: 0.5s;
    cursor: pointer;
}
section .sec-title.with-arrow div i:hover{
    background-color: var(--main-color);
    color: #000;
}

section .sec-title.with-arrow.withAfter {
    position: relative;
}
section .sec-title.with-arrow.withAfter::after{
    content: 'top Auction';
    position: absolute;

    width: max-content;
    height: max-content;
    color: var(--main-color);
    font-size: 16px;

    left: 0;
    top: -22px;

}
section .sec-title.with-arrow.withAfter.one{
    justify-content: center;
}
section .sec-title.with-arrow.withAfter.one::after{
    content: 'Our Blockchain';
    left: 50%;
    transform: translateX(-50%);
}
@media ( max-width:1200px ) {
    section{
        padding: 100px  80px;
    }
}
@media ( max-width:990px ) {
    section{
        padding: 100px 50px;

    }
    
}
@media ( max-width:768px ) {
    section{
        padding: 100px 30px;

    }
    section .sec-title{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        justify-content: flex-start;
    }
    
}
@media ( max-width: 540px ) {
    section{
        padding: 100px 10px;
    }
    
}
/* end sec-title */





.featured-item .container-1{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.featured-item .container-1 .card{
    width: calc((100% - 60px) / 4);
    padding: 10px 10px 20px ;
    background-color: var(--sec-bg1);
    border: 1px solid #444;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
}
.featured-item .container-1 .card > div:nth-of-type(1){
    padding: 20px ;
    background-color: var(--card);
    border-radius: 10px;
    border: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    text-transform: uppercase;
}
.featured-item .container-1 .card > div:nth-of-type(2){
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    background-color: var(--card);
    border-radius: 10px;
    overflow: hidden;
}
.featured-item .container-1 .card > div:nth-of-type(2) img{
    width: 40%;
    height: 130px;
    transition: 0.5s;
}
.featured-item .container-1 .card:hover > div:nth-of-type(2) img{
    transform: scale(1.2);
}
.heighist-bid{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
} 
.heighist-bid > div a{
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 12px;
}
.heighist-bid > div > div{
    display: flex;
    gap: 8px;
    
    align-items: center;
}
.heighist-bid > div > div i {
    width: 20px;
    height: 20px;
    background-color: purple;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.heighist-bid > button{
    padding: 10px 15px;
    background-color: var(--main-color);
    display: flex;
    gap: 5px ;
    align-items: center;
    border: none;
    border-radius: 7px;
    font-weight: 600;
}

.featured-item .container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.featured-item .container-2 .card {
    width: calc((100% - 40px) / 3);
    background: url(../images/sellerBG.png) center;
    background-size: 100% 100% ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
}
.featured-item .container-2 .card .top-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-item .container-2 .card .top-card > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: center;
}
.featured-item .container-2 .card .top-card > div:nth-of-type(1) p {
    text-transform: uppercase;
    opacity: 0.8;
}
.featured-item .container-2 .card .top-card > div:nth-of-type(1) span{
    color: var(--main-color);
    font-size: 14px;
    margin-bottom: 10px;
}
.featured-item .container-2 .card .top-card > div:nth-of-type(1) > div{
    position: relative;
}
.featured-item .container-2 .card .top-card > div:nth-of-type(1) > div::after{
    content: '+56';
    position: absolute;
    margin-left: 5px;
    color: #888;
}
.featured-item .container-2 .card .top-card > div:nth-of-type(1) > div img{
    width: 80px;
}

.featured-item .container-2 .card .top-card > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.featured-item .container-2 .card .top-card > div:nth-of-type(2) p{
    background: url(../images/bg2.png) center;
    padding: 10px;
    font-size: 14px;
    opacity: 0.7;
    background-size: 100% 100%;
}

.featured-item .container-2 .card > p {
    font-size: 12px;
    text-transform: uppercase;
    text-indent: 20px;
    opacity: 0.7;
    position: relative;
}
.featured-item .container-2 .card > p::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
}
@media (max-width:1200px) {
    .featured-item .container-1 .card{
        width: calc((100% - 20px) / 2);
    }
    .featured-item .container-2 .card {
        width: calc((100% - 20px) / 2);
    }
}
@media (max-width:540px) {
    .featured-item .container-1 .card{
        width:100%;
    }
    .featured-item .container-2 .card {
        width: 100%;
    }
}
/* end sec-featured-item */



/* start sec-gaming */
.gaming{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--sec-bg1);
}
.gaming .top-gaming{
    display: flex;
    align-items: center;
    
}
.gaming .top-gaming .gaming-img{
    width: 50%;
}
.gaming .top-gaming .gaming-img img{
    width: 100%;
}
.gaming .top-gaming .details{
    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 80px;
}
.gaming .top-gaming .details b{
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0.9;
    font-family: var(--heading-font);
}
.gaming .top-gaming .details strong{
    color: var(--main-color);
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    padding: 3px 8px;
    background: #def24722;
    width: max-content;
    position: relative;
}
.gaming .top-gaming .details strong::after{
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: var(--sec-bg1);
    left: 0;
    top: 0;
    animation: strong 5s  steps(40) infinite  ;
}
.gaming .top-gaming .details p:nth-of-type(1){
    line-height: 1.8;
    font-size: 15px;
    opacity: 0.7;
    word-spacing: 1.3px ;
}
.gaming .top-gaming .details p:nth-of-type(2) {
    display: flex;
    align-items: center;
    color: #acaeb1;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

}
.gaming .top-gaming .details p:nth-of-type(2) img{
    margin-right: 15px;
}
.gaming .top-gaming .details p:nth-of-type(2) span{
    color: var(--main-color);
    font-size: 16px;
    margin-left: 2px;
}

.gaming .container{
    display: grid;
    align-content: center;

    grid-template-columns: repeat(4 , 1fr) ;
    gap: 25px;
    
}
.gaming .container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.gaming .container .card img{
    width: 70px;
    height: 60px;
}
.gaming .container .card:nth-of-type(4) img{
    width: 100px;

}
.gaming .container .card b{
    text-transform: uppercase;
    opacity: 0.9;
    font-size: 25px;
    font-family: var(--heading-font);
}
.gaming .container .card p{
    opacity: 0.7;
    font-size: 17px;
    line-height: 1.5 ;
    word-spacing: 1.5px;
    font-weight: 300;
}

/* endsec-gaming */






/* start sec-limited-auction*/
.limited-auction{
    background-color: var(--sec-bg2);
}
.limited-auction .container{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.limited-auction .container .card{
    width: calc((100% - 60px ) / 4 );
    background-color:#1c1c24;
    border: 1px solid #444;
    padding: 10px 10px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 10px;
}
.limited-auction .container .card div:nth-of-type(1){
    overflow: hidden;
    border-radius: 10px;
    border-radius: 10px;
}
.limited-auction .container .card div:nth-of-type(1) img{
    width: 100%;
    transition: 0.5s;
    border-radius: 10px;
}
.limited-auction .container .card div:nth-of-type(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.limited-auction .container .card div:nth-of-type(2) b {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
.limited-auction .container .card div:nth-of-type(2) i {
    font-size: 20px;
}
.limited-auction .container .card:hover div:nth-of-type(1) img{
    transform: scale(1.2);
} 
.limited-auction .container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.limited-auction .container-2 div {
    width: calc((100% - 200px) / 6);
    border-radius: 15px;
    height: 300px;
}

.limited-auction .container-2 div:nth-of-type(3) {
    width: calc((100% - 80px) / 3);
    height: 380px;
}
.limited-auction .container-2 div:nth-of-type(1){
    background: url(../images/blockChain-1.png) center ;
    background-size: 100% 100%;
}
.limited-auction .container-2 div:nth-of-type(2){
    background: url(../images/blockChain-2.png) center ;
    background-size: 100% 100%;
}
.limited-auction .container-2 div:nth-of-type(3){
    background: url(../images/blockChain-3.png) center ;
    background-size: 100% 100%;
    animation: changeImg 10s ease infinite alternate;
}
@keyframes changeImg {
    20%{
        background: url(../images/blockChain-3.png) center ;    
        background-size: 100% 100%;

    }
    40%{
        background: url(../images/blockChain-4.png) center ;    
        background-size: 100% 100%;

    }
    60%{
        background: url(../images/blockChain-2.png) center ;    
        background-size: 100% 100%;

    }
    80%{
        background: url(../images/blockChain-1.png) center ;    
        background-size: 100% 100%;

    }
    100%{
        background: url(../images/blockChain-5.png) center ;    
        background-size: 100% 100%;

    }
}
.limited-auction .container-2 div:nth-of-type(4){
    background: url(../images/blockChain-4.png) center ;
    background-size: 100% 100%;
}
.limited-auction .container-2 div:nth-of-type(5){
    background: url(../images/blockChain-5.png) center ;
    background-size: 100% 100%;
}

.limited-auction .container-2 img{
    /* width: 100%;
    height: 100%; */
    border-radius: 15px;
    transform: translate3d();
}

/* end sec-limited-auction*/






/* start sec-creator */
.creator{
    background-color: var(--sec-bg1);
}
.creator .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

}
.creator .container .card{
    width: calc((100% - 50px) / 3);
    padding: 35px 25px;
    background: url(../images/creatorBG.png) center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.creator .container .card > div:nth-of-type(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1){
    display: flex;
    align-items: center;
    gap: 8px;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1) > div{
       display: flex;
    flex-direction: column;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1) > div b{
    font-family: var(--heading-font);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1) > div p {
    font-weight: 200;
    font-size: 13px;
    opacity: 0.6;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1) > div > p > span{
    font-weight: 400;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(2){
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--sec-bg2);
    border: 1px solid #444 ;
    font-size: 14px;
    opacity: 0.7;
}

.creator .container .card > div:nth-of-type(2){
    display: flex;
    align-items: center;
    gap: 12px;

}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(1){
    width: calc(( 100% - 12px ) / 2);
    padding: 5px;
}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(1) img{
    width: 100%;
}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(2){
    width: calc(( 100% - 12px ) / 2);
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1){
    display: flex;
    align-items: center;
    gap: 12px;

}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) img{
    width: calc((100% - 12px) / 2 );
}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) img{
    width: 100%;
}
/* end sec-creator */





/* start sec-feedback */
.feedback{
    background-color: var(--sec-bg2);
}

.feedback .slider_text {
    overflow: hidden;
}
.feedback .slider_text .slider{
    position: relative;
    display: flex;
    animation: slider 7s ease infinite;
}
@keyframes slider {
    100%{
        transform: translateX(-100%);
    }
}
@keyframes slider-2 {
    100%{
        transform: translateX(100%);
    }
}
.feedback .slider_text .slider:hover{
    animation-play-state:paused;
}
.feedback .slider_text .slider:active{
    animation-play-state:running;

}
.feedback .slider_text .slider div{
    padding: 60px 80px;
    border: 1px solid #fff;
    background-color: #000;
    margin: 0 20px;
}
.feedback .slider_text .slider div p {
    margin-top: 8px;
    font-size: 27px;
    font-weight: 400;
    opacity: 0.7;
}
.feedback .slider_text .slider .two{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(100%);
}



.feedback .testimonials{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 50px;
}
.feedback .testimonials .blog{
    width: calc((100% - 150px ) / 4);
    display: flex;
    align-items: center;
    gap: 15px;
}
.feedback .testimonials .blog div{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 3px;
}
.feedback .testimonials .blog div b{
    font-family: var(--heading-font);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
}
.feedback .testimonials .blog div span{
    opacity: 0.7;
    font-style: 15px;
}
.feedback .testimonials .blog:hover img{
    outline: 4px solid var(--main-color);
    border-radius: 50%;
}

.feedback .sliders{
    margin-top: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.feedback .sliders .slider-one{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    animation: slider 20s linear infinite;
}
.feedback .sliders .slider-one.slider-two{
    animation: slider-2 20s linear infinite;

}
.feedback .sliders .slide{
    display: flex;
    gap: 20px;
    margin: 0 10px;
}
.feedback .sliders .slide img{
    width: calc((100% - 120px ) / 7);
}
.feedback .sliders  .slide-2{
    position: absolute;
    width: 100%;
    transform: translate(100%);
}
.feedback .sliders .slider-one.slider-two .slide-2{
    transform: translate(-100%);
    
}
/* end sec-feedback */



/* start footer */
footer{
    padding: 100px;
    background-color: var(--sec-bg1);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}
footer > div{
    width: calc((100% - 150px) / 4 );
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer > div:not(:first-of-type) .card-title{
    text-transform: uppercase;   
    font-size: 20px;
    opacity: 0.9;
    font-family: var(--heading-font);
}
footer .card-1 img{
    width: 150px;
}
footer .card-1 > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .card-1 > div > div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
footer .card-1 > div > div  p{
    opacity: 0.7;
}
footer .card-1 > div > b{
    margin-top: 10px;
    color: #cdd8f9 ;
    font-size: 18px;
    font-family: var(--heading-font);
}
footer .card-1 > div > strong{
    color: #b1b1b1    ;

}
footer .card-1 > div > strong span{
    color: var(--main-color);
}
footer .card-2 div{
    display: flex;
    flex-direction: column;
    gap: 10px;
} 
footer .card-2 div a{
    color: #b1b1b1;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
} 
footer .card-2 div a:hover{
    color: var(--main-color);
} 
footer .card-3 div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    gap: 13px;
}

footer .card-3 div:nth-of-type(1) p{
    color: #b1b1b1;
    line-height: 1.6;
    font-weight: 400;
    font-size: 15px;

}
footer .card-3 div:nth-of-type(1) input{
    padding: 20px ;
    background-color: #273036 ;
    font-size: 16px;
    color: #fff;
    border: none;
    font-weight: 400;
}
footer .card-3 div:nth-of-type(1) input::placeholder{
    color: #acaeb1;
}
footer .card-3 div:nth-of-type(1) input:focus{
    outline: none;
}
footer .card-4 .instgram{
    display: flex;
    flex-wrap: wrap;
    padding-right: 60px;
    gap: 8px;
}
footer .card-4 .instgram > div{
    position: relative;
    width: 60px ;
    height: 60px;
    cursor: pointer;
    
}
footer .card-4 .instgram > div::after{
    content: '';
    position: absolute;

    height: 30%;
    width: 30%;
    top: 50%;
    left: 50%;
    transform:translate(-50% , -50% );
    background-color: transparent;
    transition: 0.5s;
}
footer .card-4 .instgram > div:hover::after{
    height: 100%;
    width: 100%;
    background-color: #0000008e;
}
footer .card-4 .instgram > div img{
    width: 100%;
    height: 100%;
}
footer .card-4 .instgram > div > div{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50% , -50% );
}
footer .card-4 .instgram > div:hover > div{
    display: block;
}



.copyRight{
    padding: 20px  100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131a25;
    opacity: 0.7;
}

.toTop{
    position: fixed;
    width: 45px;
    height: 45px;
    background-color: var(--main-color);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    right: 50px;
    bottom: 50px;
    font-size: 18px;
    border-radius: 10px;
    animation: toTop 1.5s ease infinite alternate;
    transition: 0.5s;

}
.toTop:hover{
    border-radius: 50%;
    outline: 2px dashed var(--main-color);
    outline-offset: 2px;
    animation-play-state: paused;

}
@keyframes toTop {
    100%{
        transform: translateY(-20px);
    }
}
/* end footer */